body {
    background: #f9f9f9;
}

.fs-hind-vadodara {
    font-family: 'Hind Vadodara', sans-serif;
}

.news-slider {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(72, 94, 144, 0.16);
    border-radius: 0.25rem;
	margin-top: 20px;
}
.container__image {
	padding: 20px;
    position: relative;
}
.container__image-name h5 {
    font-weight: 500;
}
.container__image-name h5 {
    vertical-align: bottom;
}
.container__image-name h5 {
    padding: 8px 10px;
    line-height: 1.5;
}
.container__image-name h5 {
    padding: 0;
    vertical-align: top;
    margin: 0px;
}
.author-info {
    color: #3e3e3e;
    font-family: 'Heebo', 'Arial';
    font-size: 15px;
    font-weight: 500;
    transition: 0.2s;
}
.container__image-name p {
    vertical-align: top;
    white-space: pre-wrap;
}
.blog-post p {
    line-height: 29px;
    color: #3a3a3a;
}
.right-separator {
    margin-right: 3px;
    padding-right: 7px;
    border-right: 1px solid #d2d2d2;
}
.meta {
	color: gray;
}
.meta .date {
    margin-left: 3px;
}
.container__image-name p {
    font-size: 15px;
    line-height: 29px;
    color: #001737;
    font-weight: 500;
}

.table--users.table td {
    line-height: 40px;
}

.current-length {
    color: blue;
    font-size: 14px;
}

.remaining-length {
    color: red;
    font-size: 14px;
}

.select2-results__option[aria-selected=true] {
    display: none;
}

.owl-carousel .owl-item img.news-media-image {
    max-height: 175px;
    width: auto;
    margin: 0 auto;
}

/*
3 Dot Menu CSS
 */
.more-wrap {
    position: absolute;
    top: 12px;
    right: -8px;
    transform: translate(-50%, -50%);
    text-align: center;
}

.more-menu {
    width: 100px;
}

/* More Button / Dropdown Menu */
.more-btn,
.more-menu-btn {
    background: none;
    border: 0 none;
    line-height: normal;
    overflow: visible;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 100%;
    text-align: left;
    outline: none;
    cursor: pointer;
}

.more-dot {
    background-color: #aab8c2;
    margin: 0 auto;
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-right: 1px;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.more-menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 900;
    float: left;
    padding: 10px 0;
    margin-top: 9px;
    background-color: #fff;
    border: 1px solid #ccd8e0;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.25);
    opacity: 0;
    transform: translate(0, 15px) scale(.95);
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
    pointer-events: none;
}

.more-menu-caret {
    position: absolute;
    top: -10px;
    right: 12px;
    width: 18px;
    height: 10px;
    float: left;
    overflow: hidden;
}

.more-menu-caret-outer,
.more-menu-caret-inner {
    position: absolute;
    display: inline-block;
    margin-left: -1px;
    font-size: 0;
    line-height: 1;
}

.more-menu-caret-outer {
    border-bottom: 10px solid #c1d0da;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: auto;
    left: 0;
    top: 0;
    width: auto;
}

.more-menu-caret-inner {
    top: 1px;
    left: 1px;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #fff;
}

.more-menu-items {
    margin: 0;
    list-style: none;
    padding: 0;
}

.more-menu-item {
    display: block;
}

.more-menu-btn {
    min-width: 100%;
    color: #66757f;
    cursor: pointer;
    display: block;
    font-size: 13px;
    line-height: 18px;
    padding: 5px 20px;
    position: relative;
    white-space: nowrap;
}

.more-menu-item:hover {
    background-color: #0168fa;
}

.more-menu-item:hover .more-menu-btn {
    color: #fff;
}

.more-btn:hover .more-dot,
.show-more-menu .more-dot {
    background-color: #516471;
}

.show-more-menu .more-menu {
    opacity: 1;
    transform: translate(0, 0) scale(1);
    pointer-events: auto;
}

/*
Jquery Sortable CSS
 */
body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

ol.example li.placeholder {
    position: relative;
    /** More li styles **/
}
ol.example li.placeholder:before {
    position: absolute;
    /** Define arrowhead **/
}

#news-media-sorting, #campaign-banner-sorting {
    list-style: none;
    padding: 0;
}

#news-media-sorting > li, #campaign-banner-sorting > li {
    border: 1px solid #dddddd;
    margin-bottom: 10px;
    padding: 0;
    line-height: 36px;
}

.badge-violet {
    background-color: blueviolet;
    color: white;
}

.reaction-img {
    max-height: 22px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 10px;
}

.author-info .reaction-img {
    max-height: 18px;
    vertical-align: sub;
}

.media-is-video-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 36px;
    color: wheat;
    margin-top: -18px;
    margin-left: -18px;
}

.media-is-sensitive {
    position: absolute;
    top: 25%;
    left: 50%;
    font-size: 36px;
    color: wheat;
    margin-top: -18px;
    margin-left: -18px;
}

.reaction-img.reaction-img--share {
    max-height: 18px;
    vertical-align: middle;
}

/*
 * input checkbox toggle
 */
input.toggle {
    max-height: 0;
    max-width: 0;
    opacity: 0;
}
input.toggle + label {
    position: relative;
    display: inline-block;
    border-radius: 15px;
    box-shadow: inset 0 0 5px 1px #b5b5b5;
    width: 60px;
    height: 30px;
    background: #d5d5d5;
    text-indent: -5000px;
    cursor: pointer;
    margin-bottom: 0;
}
input.toggle + label .before,
input.toggle + label .after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 15px;
    height: 30px;
    width: 30px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
input.toggle + label .before {
    background: rgba(231, 81, 47, 0);
}
input.toggle + label .after {
    background: white;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
}

input.toggle:checked + label .before {
    width: 60px;
    background: rgba(68, 204, 102, 0.8);
    box-shadow: inset 0 0 5px 1px #4C6;
}
input.toggle:checked + label .after {
    left: 30px;
    box-shadow: inset 0 0 0 1px #4C6, 0 2px 4px rgba(0, 0, 0, 0.2);
}

.inactive-content {
    opacity: 0.5;
}

.cb-wrap {
    padding: 20px;
    border: 1px solid #dddddd;
}

.cb-group {
    height: 300px;
    overflow-y: scroll;
    padding: 3px;
}

.cb-group .custom-checkbox {
    margin-bottom: 4px;
}

.cb-headline-wrap {
    padding: 3px;
}

.table-fixed {
    table-layout: fixed;
}

.table-header-fixed thead th {
    background: #f9f9f9;
    border-bottom: 2px solid rgba(72, 94, 144, 0.16);
}

.navbar-menu-sub {
    padding: 10px !important;
}

.nav-sub-item {
    margin: 0 !important;
}

.nav-sub-item a {
    padding: 8px 12px;
    border-radius: 0.25rem;
}

.nav-sub-item:hover {
    background-color: #f3f4f7;
}

.nav.navbar-menu.z-navbar-menu {
    align-items: baseline;
}

.nav.navbar-menu.z-navbar-menu .nav-item {
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav.navbar-menu.z-navbar-menu .navbar-menu-sub {
    top: 61.5px;
}

.navbar-menu .nav-link {
    position: relative;
}

.link-count {
    position: absolute;
    right: -19px;
    top: -8px;
    color: #fff;
    background: red;
    border-radius: 50%;
    padding: 3px;
    font-size: 9px;
    min-width: 19px;
    min-height: 19px;
    text-align: center;
}
.is-featured-logic-box {
    border: 1px solid rgba(72, 94, 144, 0.16);
    border-radius: 0.25rem;
}

.media-edit-btn {
    position: absolute;
    z-index: 999;
    right: 24px;
    top: 12px;
    color: #fff;
    background-color: rgba(0,0,0,.3);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 36px;
}

.news-filter-btn {
    padding: 8px 8px 8px 12px;
    border-radius: 24px;
    color: #7987a1 !important;
    font-weight: 600;
}

.news-filter-btn.active {
    border: 1px solid #0168fa;
    color: #0168fa !important;
}

.news-filter-btn-count {
    color: #fff;
    background: #7987a1;
    border-radius: 50%;
    padding: 3px;
    font-size: 9px;
    min-width: 19px;
    min-height: 19px;
    text-align: center;
    margin-left: 2px;
    display: inline-block;
    vertical-align: top;
}

.news-filter-btn-count.color-red {
    background: #dc3545;
}

#news-media-sorting label, #campaign-banner-sorting label {
    padding-bottom: 0;
    margin-bottom: 0;
}

table.dataTable tbody td.sorting_1 {
    background-color: inherit;
}

.news-filter-btn--status {
    border: 2px solid #7987a1;
}

.news-filter-btn--status.active {
    border: 2px solid #0168fa;
}

/* ===================== FILE INPUT ===================== */
.file-area {
  width: 100%;
  position: relative;
}
.file-area input[type=file] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
}
.file-area .file-dummy {
  width: 100%;
  padding: 30px;
  background: rgba(255, 255, 255, 0.2);
  border: 2px dashed #c0ccda;
  text-align: center;
  transition: background 0.3s ease-in-out;
}
.file-area .file-dummy .success {
  display: none;
}
.file-area:hover .file-dummy {
  background: rgba(255, 255, 255, 0.1);
}
.file-area input[type=file]:focus + .file-dummy {
  outline: 2px solid rgba(255, 255, 255, 0.5);
  outline: -webkit-focus-ring-color auto 5px;
}
.file-area input[type=file]:valid + .file-dummy {
  border-color: #c0ccda;
  background-color: #f9f9f9;
}
.file-area input[type=file]:valid + .file-dummy .success {
  display: inline-block;
}
.file-area input[type=file]:valid + .file-dummy .default {
  display: none;
}

.tox-tinymce.is-invalid {
    border: 1px solid red;
}
.news-article-wrap p {
    margin-bottom: 0;
}
#memory-form .memory-frames-wrap [type=radio]:checked + img {
  outline: 2px solid #e74c3c;
}
/* HIDE RADIO */
#memory-form .memory-frames-wrap [type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
/* IMAGE STYLES */
#memory-form .memory-frames-wrap [type=radio] + img {
  cursor: pointer;
}

.sorting-text-wrap {
    background: #f9f9f9;
    margin-bottom: 4px;
    padding: 6px 16px;
    margin-left: 20px;
}