body {
    background: #f0eff5!important;
    overflow-x: hidden!important;
    font-family: 'Hind Vadodara'!important;
}
.navbar-header {
  border-bottom: 1px solid rgba(72, 94, 144, 0.16);
  background-color: rgb(231, 75, 59)!important;
  position: absolute;
  z-index: 2;
}
.navbar-default {
  border-bottom: 1px solid rgba(72, 94, 144, 0.16);
  background-color: rgb(231, 75, 59)!important;
}
.mr-t-10 {
  margin-top: 10px;
}

.form-group {
  margin-bottom: 3px!important;
}
.select2 {
  width: 100%!important;
  
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  padding-right: 70px!important;
}
.select2-container--default .select2-selection--single {
  background-color: rgb(205, 65, 51)!important;
  height: 60px!important;
  border: none!important;
  
}
.navbar-image__icon {
  display: flex;
  align-items: center;
}
.img-dropdown__icon {
  margin-right: -40px;
  z-index: 20;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 12px!important;
  right: 15px;
}
.df-logo {
  color: rgb(255, 255, 255)!important;
  margin-top: 0px!important;
  letter-spacing: 1px!important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: rgb(255, 255, 255)!important;
  font-size: 22px;
  font-weight: 600;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  padding-left: 3.557rem!important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #fff transparent transparent transparent!important;
  opacity: 0.5;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-width: 5px 4px 0 4px!important;
}
.navbar-menu .nav-link {
  color: rgb(255, 255, 255)!important;
}
.header__price {
  padding: 0px!important;
}

/* header 2 */
.header-banner {
  display: flex;
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 5px;
  width : 100%;
 margin-top: 60px;
 background-color: rgb(255, 255, 255);
}
.header__gold {
  display: flex;
  align-items: center;
  line-height: 3.722;
  font-size: 18px;
  font-family: "MuktaVaani";
  font-weight: bold;
}
.header__earnings {
  display: flex;
  align-items: center;
  line-height: 2.722;
  font-size: 18px;
  font-family: "MuktaVaani";
  font-weight: bold;
}
.news-gold-image {
  width: 30px;
  height: 23px;
}
.goldTxt {
  color: rgb(41, 42, 51);
  padding-left: 8px;
}
.specifics {
  color: rgb(87, 171, 50);
  padding-left: 8px;
  font-family: "Hind Vadodara";
}
.earnings {
  color: rgb(231, 75, 59);
  padding-left: 8px;
  font-family: "Hind Vadodara";
}
.header__price {
  display: flex;
  justify-content: space-around;
}
.header__price1 {
  display: flex;
  justify-content: space-around;
  justify-content: flex-end;
  height: 66px;
}
.header-app {
  display: flex;
  align-items: center;
  padding-right: 3px;
}
.line {
  background-color: rgb(0, 0, 0);
  opacity: 0.102;
  width: 1px;
  /* height: 23px; */
  z-index: 28;
  margin: 12px;
}
.header-app__text {
  font-size: 15px;
  color: rgb(41, 42, 51);
  font-weight: bold;
  line-height: 3.267;
  letter-spacing: 0.3px;
}
/* test-1 */

.card-stack {
  margin-top: 36px;
}
.news-card-title {
  padding-top: 10px;
  /* padding-left: 20px; */
  padding: 8px 25px 8px 0px;
}
.news-card-title1 {
  padding-top: 10px;
  /* padding-left: 20px; */
  padding: 8px 25px 8px 25px;
}
.news-card {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 36px;
  padding: 0px 0px 0px 0px;
  width: 100%;
  z-index: 1;
  background-color: rgb(255, 255, 255);
}
.news-card__res {
  margin-bottom: 20px;
  background-color: #f3f5f9;
  padding: 20px 20px 0px 20px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.card-stack__res {
  display: none;
}
.card-stack__res1 {
  display: none;
}
.news__time span {
    background-color: rgb(249, 247, 247);
    height: 57px;
    padding: 10px 15px 10px 15px;
    margin-left: 20px;
    font-size: 15px;
    color: rgb(68, 70, 88);
    font-weight: bold;
    line-height: 1.824;
}
.news-card__slider {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 0px 0px 8px 0px;
  width: 100%;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.news-card-image {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.news-thum__img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
  max-height: 250px;
}
.headline {
  font-size: 33px;
  color: #2a2b34;
  font-weight: 600;
  line-height: 1.5;
}
.author__card {
    background-color: rgb(231, 75, 59);
    padding: 4px 22px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 2.067;
    letter-spacing: 1;
    font-family: 'Hind Vadodara';
}
.author__card-city {
  background-color: rgb(82, 141, 229);
  padding: 4px 22px;
  font-size: 15px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 3.267;
  letter-spacing: 1;
}
.mr-10 {
  margin-left: 20px;
}
.author__name {
    font-size: 17px;
    font-family: "Hind Vadodara";
    color: rgb(41, 42, 51);
    font-weight: bold;
    line-height: 1.0;
 
}
.author__name span {
  color: #e74b3b;
}
.heading__title {
  border-bottom: 3px solid rgb(231, 75, 59);
  padding-top: 15px;
  padding-bottom: 15px;
}
.header__artical li {
  list-style: none;
  padding-top: 20px;
}
.news__time {
  float: right;
  font-size: 17px;
  color: #626262;
  font-weight: 500;
  line-height: 2.824;
}
.short {
  color: #44444d;
  font-size: 12px;
  font-weight: 800;
}
.news-card-author-time {
  font-size: 12px;
  font-weight: 300;
  line-height: 22px;
  color: #808290;
  padding-top: 5px;
}

.articleBody {
  padding-top: 8px;
  font-size: 24px;
  color: rgba(43, 44, 54, 0.761);
  line-height: 1.417;
  max-height: 75px;
  overflow: hidden;
  white-space: pre-wrap;
}
.news-card-footer {
  position: static;
  height: 26px;
  overflow: hidden;
  bottom: 10px;
  padding-top: 4px;
}
.news-card-footer .read-more {
  left: 0;
  top: 2px;
  font-size: 13px;
  font-weight: 400;
}
.news-card a {
  color: #44444d;
  font-weight: 700;
  font-size: 12px;
}
.navbar-header > .container .navbar-brand {
  padding-left: 12px!important;
  width: 48%;
}
.navbar-header > .container .navbar-right {
  padding-right: 14px!important;
}
.container__image-name p {
  line-height: 24px;
}

/* test1-page */
/*****************slider***********************/
/* ==== Main CSS === */
.img-fill{
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  text-align: center;
  height: 530px;
}
.img-fill1{
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  text-align: center;
  height: 200px;
}

.img-fill img {
  max-height: 100%;
  max-width: 100%;
  position: relative;
  display: inline-block;
  padding-top: 8px;
}
.img-fill1 img {
  min-height: 100%;
  min-width: 100%;
  position: relative;
  display: inline-block;
  max-width: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
}

.Grid1k {
  padding: 0 15px;
  max-width: 1200px;
  margin: auto;
}

.blocks-box,
.slick-slider {
  margin: 0;
  padding: 0!important;
}

.slick-slide {
  float: left /* If RTL Make This Right */ ;
  padding: 0;
}

/* ==== Slider Style === */
.Modern-Slider .item .img-fill{
  background:#000;
}
.Modern-Slider .item .img-fill1{
  background:#000;
}

.Modern-Slider .item .img-fill .info{
  position:absolute;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  background:rgba(0,0,0,.50);
  text-align:center;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.Modern-Slider .item .img-fill1 .info{
  position:absolute;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  background:rgba(0,0,0,.50);
  text-align:center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Modern-Slider .item .info > div{
  display:inline-block!important;
}

.Modern-Slider .NextArrow{
  position:absolute;
  top:50%;
  right:0px;
  background-color: rgba(255, 255, 255, 0.4);
  width: 40px;
  height: 98px;
  border:0 none;
  margin-top:-22.5px;
  text-align:center;
  font:20px/45px FontAwesome;
  color:#FFF;
  z-index:5;
}

.Modern-Slider .NextArrow:before{content:'\f105';}

.Modern-Slider .PrevArrow{
  position:absolute;
  top:50%;
  left:0px;
  background-color: rgba(255, 255, 255, 0.4);
  width: 40px;
  height: 98px;
  border:0 none;
  margin-top:-22.5px;
  text-align:center;
  font:20px/45px FontAwesome;
  color:#FFF;
  z-index:5;
}

.Modern-Slider .PrevArrow:before{content:'\f104';}

.Modern-Slider .slick-dots{
    position:absolute;
    float: left;
    height:50px;
    bottom:0px;
    width:100%;
    left:25px;
    padding:0px;
    margin:0px;
    list-style-type:none;
    text-align:center;
}
.Modern-Slider .slick-dots li button{display:none;}
.Modern-Slider .slick-dots li{
    float: left;
    left: 15px;
    background-color: rgb(255, 255, 255);
    -webkit-transition:all 0.5s;
    transition:all 0.5s;
    margin:0 2.5px;
    cursor:pointer;
    position:relative;
    width: 14px;
    height: 14px;
    z-index: 61;
  margin-left: 7px;
}

.Modern-Slider .slick-dots li.slick-active{
  /* width:100%; */
  animation:ProgressDots 11s both;
  background-color: rgb(231, 75, 59);
  width: 14px;
  height: 14px;
  z-index: 60;
}

.Modern-Slider .item h3{
  font:30px/50px RalewayB;
  text-transform:uppercase;
  color:#FFF;
  animation:fadeOutRight 1s both;
  margin:0;
  padding:0;

}

.Modern-Slider .item h5{
  margin:0;
  padding:0;
  font:16px/30px RalewayR;
  color:#FFF;
  max-width:600px;
  overflow:hidden;
  height:60px;
  animation:fadeOutLeft 1s both;
}

/* .Modern-Slider .item.slick-active h3{
  animation:fadeInUp 3s both 1.5s;
} */

/* .Modern-Slider .item.slick-active h5{
  animation:fadeInLeft 1s both 1.5s;
} */

.Modern-Slider .item.slick-active{
  animation:Slick-FastSwipeIn 1s both;
}

.Modern-Slider {
    background:#000;
  }

/* ==== Slider Image Transition === */
 @keyframes Slick-FastSwipeIn{
    /* 0%{transform:rotate3d(0, 0, 0, 0deg);}  */
    0%{transform: translate3d(-' + (100-$(this).scrollLeft()/6) + 'px,0,0);} 
    100%{transform:rotate3d(0,1,0,0deg) scale(1) perspective(400px);} 
}
/*
@-webkit-keyframes ProgressDots{from{width:0px;}to{width:100%;}}
@keyframes ProgressDots{from{width:0px;}to{width:100%;}} */

/* ==== Slick Slider Css Ruls === */
.slick-slider {
    position:relative;
    display:block;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-touch-callout:none;
    -khtml-user-select:none;
    -ms-touch-action:pan-y;
    touch-action:pan-y;
    -webkit-tap-highlight-color:transparent
}
.slick-list {
    position:relative;
    display:block;
    overflow:hidden;
    margin:0;
    padding:0
}
.slick-list:focus {
    outline:none
}
.slick-list.dragging {
      cursor:hand
}
.slick-slider .slick-track,.slick-slider .slick-list {
    -webkit-transform:translate3d(0,0,0);
    -ms-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0)
}
.slick-track {
    position:relative;
    top:0;
    left:0;
    display:block
  }
.slick-track:before,.slick-track:after {
    display:table;
    content:''
  }
.slick-track:after {
  clear:both
}
.slick-loading .slick-track {
  visibility:hidden
}
.slick-slide {
  display:none;
  float:left /* If RTL Make This Right */ ;
  height:100%;
  min-height:1px
}
.slick-slide.dragging img {
  pointer-events:none
}
.slick-initialized .slick-slide {
  display:block
}
.slick-loading .slick-slide {
  visibility:hidden
}
.slick-vertical .slick-slide {
  display:block;
  height:auto;
  border:1px solid transparent
}
.news-card-author-time__set {
  display: none;
}


/* social-icon-css */
/* fixed social*/
#fixed-social {
  /* position: fixed; */
  position: absolute;
  top: 424px;
  right: -60px;
  background-color: rgb(255, 255, 255);
  padding: 0px 8px 0px 8px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  z-index: 100;
}
#fixed-social a {
  color: #fff;
  display: block;
  height: 40px;
  position: relative;
  text-align: center;
  line-height: 40px;
  width: 40px;
  margin-bottom: 10px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 2;
}
.fixed-facebook{
  background-color: rgb(66, 103, 178);
}
.fixed-twitter{
 background-color: rgb(3, 169, 244);
}
.fixed-gplus{
  background-color: rgb(37, 211, 102);
}
.fixed-linkedin{
  background-color: rgb(231, 75, 59);
}
.fixed-linkedin span{
  background-color: #FFC41E;
}
.fixed-instagrem{
 background-color: #ED2B29;

}
.fixed-instagrem span{
  background-color: #ED2B29;
}
.fixed-tumblr{
 background-color: #EB1471;

}
.fixed-tumblr span{
  background-color: #EB1471;
}
.header__price__res {
  display: none;
}
#fixed-social__res {
  display: none;
}
/*end fixed social*/
/********** responsive **********/

@media (max-width: 1199px) {
  .header__price1 {
    display: none;
  }
  .header__price {
    width: 100%;
  }
  .col-lg-6 {
    flex: 0 0 100%!important;
    max-width: 100%!important;
  }
}
@media (max-width: 1024px) {
 
.news-card__slider {
  margin-bottom: 150px;
}
  .select2-dropdown {
    z-index: 1051!important;
  }
  .card-stack__res {
    display: block;
  }
  .card-stack__res1 {
    display: block;
  }
  .header__price__res {
    display: block;
    padding-left: 0px!important;
  }
  #fixed-social__res {
    display: block;
  }
 
  .header__box {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: fixed!important;
    bottom: 0px;
    left: 0;
    z-index: 1062;
}
  .header-app__res {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-top: 7px;
  }
  .pd-l-15 {
    padding-left: 15px;
  }
  #fixed-social {
    display: none;
  }
  
  #fixed-social__res {
    display: flex;
    justify-content: space-between;
    padding: 0px 8px 0px 8px;
    z-index: 100;
    border-bottom: 2px solid #f3f5f9;
  }
  .footer__box {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: fixed!important;
    bottom: 0px;
    left: 0;
    z-index: 1061;
}
  .social__name p {
      font-size: 20px;
      font-family: "Hind Vadodara";
      color: rgb(41, 42, 51);
      font-weight: bold;
      line-height: 3.05;
      padding-top: 7px;
      margin-bottom: 0;
  }
  .social__name {
    display: flex;
    align-items: center;
  }
  .social__icon {
    display: flex;
  }
  .icon {
    font-size: 20px!important;
  }
  #fixed-social__res a {
    color: #fff;
    display: block;
    height: 50px;
    position: relative;
    text-align: center;
    line-height: 40px;
    width: 50px;
    margin-bottom: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 2;
  }
  #fixed-social__res a:last-child {
    margin-right: 0px;
  }
  .dsn__card {
    display: none!important;
}
/* .navbar-header-fixed {
  padding-top: 20px!important;
} */
.navbar-header {
  height: 100px!important;
}
.header-banner {
  margin-top: 100px;
}
.select2-container--default .select2-selection--single {
  height: 55px!important;
}
}
@media (max-width: 991px) {
  .dsn__card {
    display: none!important;
  }
  .navbar-header-fixed {
    padding-top: 0px!important;
}
  .navbar-header-fixed {
    position: fixed!important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
.navbar-menu-wrapper {
  order: 3;
  width: 260px;
  position: relative!important;
  top: -8px!important;
  bottom: 0;
  left: 0;
  background-color: rgb(231, 75, 59)!important;
  overflow: hidden;
  z-index: 1060;
  transform: translateX(-140px)!important;
  transition: all 0.4s;
  display: flex;
    right: 0;
    z-index: 1000;
}
.form-group {
  margin-bottom: 0px!important;
  margin-top: 0px;
}
.df-logo {
  margin-top: 4px!important;
}
.navbar-menu-wrapper {
  display: flex;
  height: 60px;
}
.navbar-menu .nav-item + .nav-item {
  margin-top: 0px!important;
}
.dsp {
  display: none;
}
.news-card-author-time__set {
  display: block;
}
.news-card-author-time__set {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 3px solid rgb(231, 75, 59);
}
.news-card-title {
  padding: 8px 25px 8px 25px;
}
.p-all {
  padding: 8px 8px 8px 18px;
}
.select2-container--default .select2-selection--single {
  height: 55px!important;
}
.card-stack__res {
  display: block;
}
.card-stack__res1 {
  display: block;
}
.header__price__res {
  display: block;
  padding-left: 0px!important;
  padding-right: 0px!important;
}
#fixed-social__res {
  display: block;
}
.header__box {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  background-color: rgb(255, 255, 255);
  width: 100%;
  position: fixed!important;
  bottom: 0px;
  left: 0;
  z-index: 1062;
}
.footer__box {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  background-color: rgb(255, 255, 255);
  width: 100%;
  position: fixed!important;
  bottom: 0px;
  left: 0;
  z-index: 1061;
}
.header-app__res {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding-top: 7px;
}
.pd-l-15 {
  padding-left: 15px;
}
#fixed-social {
  display: none;
}

#fixed-social__res {
  /* position: absolute; */
  display: flex;
  /* float: right; */
  justify-content: space-between;
  padding: 0px;
  z-index: 100;
  border-bottom: 2px solid #f3f5f9;
}
.social__name p {
    font-size: 20px;
    font-family: "HindVadodara";
    color: rgb(41, 42, 51);
    font-weight: bold;
    line-height: 3.05;
    padding-top: 7px;
    margin-bottom: 0;
}
.social__name {
  display: flex;
  align-items: center;
}
.social__icon {
  display: flex;
}
.icon {
  font-size: 20px!important;
}
#fixed-social__res a {
  color: #fff;
  display: block;
  height: 50px;
  position: relative;
  text-align: center;
  line-height: 40px;
  width: 50px;
  margin-bottom: 10px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 2;
}
#fixed-social__res a:last-child {
  margin-right: 0px;
}
}
@media (max-width: 767px) {
  .header__gold {
    font-size: 14px;
}
.header__earnings {
  font-size: 14px;
}
.news-gold-image {
  width: 23px;
  height: 50%;
}
.card-stack {
  margin-top: 20px;
}
.navbar-header .navbar-right {
  padding: 0 1px!important;
}
}
@media (max-width: 537px) {
  .news__time {
    display: none;
}
.news-card-title {
  /* padding: 0px; */
  /* display: flex; */
  justify-content: center;
}
}
@media (max-width: 518px) {
  .line {
    display: none;
  }
  .header__price {
    display: block;
  }
  .header__gold {
    justify-content: center;
    font-size: 18px;
  }
  .news-gold-image {
    width: 30px;
    height: 27px;
  }
  .header__earnings {
    justify-content: center;
    font-size: 18px;
  }
  .navbar-header > .container .navbar-brand {
    width: 23%;
  }
}
@media (max-width: 439px) {
.headline {
  font-size: 22px;
}
.articleBody {
  font-size: 18px;
}
}
@media (max-width: 457px) {
.header-app__res {
  display: block;
  width: 100%;
  justify-content: center;
  padding-top: 0px;
  align-items: center;
  text-align: center;
  padding-bottom: 10px;
}
}
@media (max-width: 431px) {
  .header-app__res {
    display: block;
    width: 100%;
    justify-content: center;
    padding-top: 0px;
    align-items: center;
    text-align: center;
}
.social__name {
  display: none;
}
.social__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
.navbar-header > .container .navbar-brand {
  padding-left: 12px!important;
  width: 30%;
}
}
@media (max-width: 398px) {
  .news-card-title {
    padding: 8px 25px 8px 0px;
  }
  .p-all {
    padding: 8px 8px 8px 20px;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    padding-left: 2.357rem!important;
  }
  .img-dropdown__icon {
    margin-right: -30px;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    padding-right: 40px!important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  left: 80%;
}
}
@media (max-width: 372px) {
  .author__card-city {
    line-height: 4.267;
}
.news-card-author-time__set {
  padding-top: 15px;
  padding-bottom: 15px;
}

}
@media (max-width: 350px) {
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    padding-right: 22px!important;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    left: 95%;
    top: 45%;
  }
  .navbar-image__icon {
    padding: 15px 0px 15px 15px;
  }
  .news-card-author-time__set {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header-app__text {
    font-size: 14px;
}
}
@media (max-width: 340px) {
  .navbar-header > .container .navbar-brand {
    padding-left: 0px!important;
    width: 28%;
  }
  .img-dropdown__icon {
    margin-right: -27px;
 }
 .select2-container--default .select2-selection--single .select2-selection__rendered {
  padding-left: 1.857rem!important;
}
}

.center-cropped {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
}

/* Set the image to fill its parent and make transparent */
.center-cropped img {
  min-height: 250px;
  min-width: 100%;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* modern browsers */
  opacity: 0;
}

@media (max-width: 991px) {
  .home-page-wrap {
    padding-bottom: 56px;
  }
}