/* test css */
body {
    font-family: "IBM Plex Sans", sans-serif;
}
.modal-body {
    padding: 0rem;
}
.header-banner {
    display: flex;
    justify-content: space-between;
    margin-left : auto;
    margin-right : auto;
    margin-bottom: 32px;
    padding-left: 12px;
    padding-right: 5px;
    width : 900px;
    padding-bottom: 5px;
    border-radius: 7px;
    background: #E74C3C;
}
.header-banner__text {
    font-weight: 300;
    color:white !important;
    font-size:14px;
    margin-top: 16px;
    display: block;
}
.header-banner__text a {
    color:white;
    font-weight: 500;
}
.header-banner img {
    margin-top: 6px;
    /* width: 150px; */
    height: 40px;
}

.news-card-title {
    padding-top: 10px;
    /* padding-left: 20px; */
}
.news-card {
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 8px 16px 8px 8px;
    height: 100%;
    width: 900px;
    z-index: 1;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.news-card-image {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.headline {
    color: #44444d;
    font-weight: 400;
    font-size: 22px;
    line-height: 20px;
}
.short {
    color: #44444d;
    font-size: 12px;
    font-weight: 800;
}
.news-card-author-time {
    font-size: 12px;
    font-weight: 300;
    line-height: 22px;
    color: #808290;
    padding-top: 5px;
}

.articleBody {
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #44444d;
    padding-top: 8px;
}
.news-card-footer {
    position: static;
    height: 26px;
    overflow: hidden;
    bottom: 10px;
    padding-top: 4px;
}
.news-card-footer .read-more {
    left: 0;
    top: 2px;
    font-size: 13px;
    font-weight: 400;
}
.news-card a {
    color: #44444d;
    font-weight: 700;
    font-size: 12px;
}
.news-thum {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__image-name p {
    line-height: 24px;
}
/********** responsive **********/
@media (max-width: 991px) {
    .news__card {
        display: flex;
        justify-content: center;
    }
    .news-card {
        width: 100%;
    }
    .news-card-footer {
        position: static;
    }
    .header-banner {
        width: 100%;
    }
    .news-card-title {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 18px;
        padding-top: 25px;
    }
    .articleBody {
        padding-top: 15px;
    }
    .news-card-author-time {
        padding-top: 8px;
    }
    .news-card-footer {
        padding-top: 7px;
    }
}
@media (max-width: 750px) {
    .header-banner img {
        width: auto;
    }

}
@media (max-width: 716px) {
    .header-banner {
        display: block;
        padding-top: 1px;
        padding-bottom: 10px;
    }
    .header-banner__text {
        font-size: 17px;
    }
}
@media (max-width: 523px) {
    .header-banner__text {
        font-size: 15px;
    }
}
@media (max-width: 468px) {
    .header-banner {
        display: none;
    }
}
.news__image{
        max-width: 100%;
        max-height: 250px;
        width: 100%;
    }
    .modal-dialog {
        max-width: 300px;
    }
    .container__image {
        padding: 10px;
    }
    .m-b-20 {
        margin-bottom: 20px;
    }
    .modal-title {
        padding-top: 11px;
    }
    .meta__footer {
        display: flex;
        justify-content: space-between;
    }
    .container__image-name h6 {
        font-weight: 550;
    }

@media (max-width: 300px) {
    .modal-dialog {
        max-width: 300px;
    }
    .author-info {
        font-size: 13px;
    }
    
    .author-info {
            display: none;
    }
    .badge {
        display: none;
    }
    .container__image-name p {
        line-height: 26px;
    }
    .reaction-img {
        margin-right: 4px;
    }
    .news-slider {
        border-radius: 0.55rem;
    }
    .news__image {
        width: 100%;
        border-radius: 8px;
    }
    .container__image {
        padding: 10px;
    }
    .m-b-20 {
        margin-bottom: 20px;
    }
    .modal-title {
        padding-top: 11px;
    }
    .meta {
        display: flex;
        justify-content: space-between;
    }
    .container__image-name h6 {
        font-weight: 550;
    }
    }